@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style  */

.display-flex {
    display: flex;
}

/* dark 02 */
.font-gray {
    color: #424242;
}

/* dark 03 */
.font-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #ff9003;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    border:none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
 


/* Header related style */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.brand {
    font-size: 3rem;
    font-weight: 700;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner related style  */
.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title {
    font-weight: 700;
    font-size: 4rem;
}
.banner-image {
    max-width: 100%;
}

/* Teams and Feature related */
.teams {
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 73px;
    max-width: 537px;
}

.quicklist {
    font-size: 2.8rem;
    font-weight: 500;
}
.feature-word{
    color: #FF900E;
}
.feature-description {
    font-size: 1rem;
    color: #727272;
}


/* Some Facts Related */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 124px;
    margin-top: 100px;
}

.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 10px;
}

.fact-description{
    width: 540px;
}


/* Our Sponsors Related */
.sponsor-info{
    max-width: 540px;
    text-align: center;
    margin: 50px auto;
}
.sponsors-logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    filter: grayscale(100%);
}






/* Responsive Media Query */
@media screen and (max-width: 576px) {
    .navbar, .teams{
        flex-direction: column;
    }

    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features{
       margin-left: 20px;
    }

   .fact-description{
        max-width: 100%;
    }

    .facts-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin-top: 50px;
    max-width: 100%;
    justify-items: center;
    }

    .sponsors-logo{
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    justify-items: center;
    }

    
}



@media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
         flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }

.facts-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 50px;
    max-width: 100%;
    justify-items: center;
    }

    .sponsors-logo{
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-items: center;
    }


}